<%- include ('../layouts/userheader.ejs')%>



<body >
<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		 <nav class="navbar navbar-expand-lg navbar-light main_box">
			  <div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="#"><img src="/user/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						 <ul class="nav navbar-nav menu_nav ml-auto">
							  <li class="nav-item "><a class="nav-link" href="/home" >Home</a></li>
							
							  <li class="nav-item "><a class="nav-link" href="/shop" >shop</a></li>
							  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
							  <li class="nav-item active"><a class="nav-link" href="/cart">Cart</a></li>
							  <li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									 aria-expanded="false">wish List  <span class="ti-heart"></span></a>
									<ul class="dropdown-menu">
										 <li class="nav-item"><a class="nav-link" href="#">Item1</a></li>
										 <li class="nav-item"><a class="nav-link" href="#">Item2</a></li>
										 <li class="nav-item active"><a class="nav-link" href="/Wishlist">Goto Wishlist</a></li>
										 
									</ul>
							  </li>
							  <li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									 aria-expanded="false">User  <img class="rounded-circle" src="/images/userProfile/<%=user.image%>" alt="" style="width: 20px; height: 20px;"></a>
									<ul class="dropdown-menu">
										 <li class="nav-item" ><a class="nav-link" href="/logout">Logout</a></li>
										 <li class="nav-item"><a class="nav-link" href="/edit?id=<%=user._id%>">Profile</a></li>
										 <!-- <li class="nav-item"><a class="nav-link" href="/coupon">Coupon</a></li> -->
										 <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
									</ul>
							  </li>
						 </ul>
						 <ul class="nav navbar-nav navbar-right">
							  <li class="nav-item">
									<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							  </li>
						 </ul>
					</div>
			  </div>
		 </nav>
	</div>
	<div class="search_input" id="search_input_box">
		 <div class="container">
			  <form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			  </form>
		 </div>
	</div>
</header>

 <!-- Start Banner Area -->
 <section class="banner-area organic-breadcrumb">
	<div class="container">
		 <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			  <div class="col-first">
					<h1>Order confirmation</h1>
					<nav class="d-flex align-items-center">
						 <a href="/home">Home
                     <span class="lnr lnr-arrow-right"></span></a>
						 <a href="/cart">Cart
                     <span class="lnr lnr-arrow-right"></span></a>
						 <a href="/checkOut">Check Out
                     <span class="lnr lnr-arrow-right"></span></a>
						 <a href="/cart">Order confirm</a>
					</nav>
			  </div>
		 </div>
	</div>
</section>

<section class="p-4">
   <div class="container">
      
         
             <div class="row">
               
              
                 <div class="col-md-12 text-center pt-5">
                   <span class="d-flex justify-content-center  ">
                     <dotlottie-player src="https://lottie.host/59ba5ff8-4a81-4cc9-b2dd-3d8a10a11617/jaGRynaRuK.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                   </span>
                   <h3 class=" text-black">Thank you!</h3>
                   <p class="lead mb-5">You order was successfuly completed.</p>
                       <a href="/orders"><button class="btn primary-btn">Check Your Orders</button>  </a>
                     </div> 
   </div>
   
</section>


<%- include ('../layouts/userContentFooter.ejs')%>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<%- include ('../layouts/userfooter.ejs')%>